<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerAddressService" closeTimeout="00:50:00" openTimeout="00:50:00"
                    sendTimeout="00:50:00" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Assessment.Service/CustomerAddressService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerAddressService"
                contract="CustomerAddressServiceReference.ICustomerAddressService"
                name="BasicHttpBinding_ICustomerAddressService" />
        </client>
    </system.serviceModel>
</configuration>